.center-image
{
    margin: 0 auto;
    display: block;
}

.book {
  width: 30%;
  height: 30%;
}

.photo {
	width: 75%;
	height: 75%;
}

table {
	padding: 0px 5px 20px 5px;
	border-spacing: 0px;
}

th {
	text-align: center;
}

thead tr {
    background-color: #CCC;
}

tr:nth-child(even) {
    background-color: #EEE;
}

td {
	padding: 2px 9px 2px 9px;
}

tr {
    padding: 5px 5px;
}