.center-image
{
    margin: 0 auto;
    display: block;
}

.book {
  width: 30%;
  height: 30%;
}

.photo {
	width: 75%;
	height: 75%;
}

table {
	padding: 0px 5px 20px 5px;
}

th {
	text-align: left;
}